body {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      background: gray;
      font-family: sans-serif;
      width: 300px;
    }
    
    header {
      font-size: 3em;
      font-weight: bold;
    }

    
    div:hover {
      background: #aaaaaa;
    }
    
    #randomText {
      margin-bottom: 5px;
    }

    select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="gray"] { /* value not val */
    color: gray;
}

select option[value="blue"] { /* value not val */
    background: blue;
}


